::before ::after {
    margin: 15px;
    padding: 15px;
}
body {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    
    
    

}
form{
    padding: 10px;
    margin: 10px;
height: 100px;
width: 100px; 
  

    
   
}
button {
    background-color: blue;
    color: white;
    height: 50px;
    width: 60px;
    float: left;
}
